body {
    color: red;
    background-color: teal;
}



/* The element to apply the animation to */
div {

    color: blue;
    background-color: green;
}

/* The animation code */
@keyframes div1 {
    from {background-color: red;}
    to {background-color: yellow;}
}

.div1 {
  color: magenta;
  background-color: yellow;
  animation-name: div1; /* This is where we define the animation name */
  animation-duration: 4s;
}

.div2 {
  color: green;
  background-color: #E80C0C;
}
